@model IEnumerable<Project2.Models.AppUsers>

@{
    ViewData["Title"] = "showUsers";
}

<h1>المستخدمين</h1>
<hr />

<table class="table mt-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>



        </tr>
        
}
    </tbody>
</table>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">عودة</a>
